<H1>Ma the bumbler</H1>

<H3>A former heart-throb loses his shine</H3>
<DIV>Nov 17th 2012 | TAIPEI | From the print edition</DIV>
<br/>
WHEN he was first elected in 2008, Taiwan’s president, Ma Ying-jeou, offered Taiwanese high hopes that the island’s economy would open a new chapter. He promised ground-breaking agreements with China to help end Taiwan’s growing economic marginalisation. At the time, Mr Ma’s image was of a clean technocrat able to rise above the cronyism and infighting of his party, the Kuomintang (KMT). He was a welcome contrast to his fiery and pro-independence predecessor, Chen Shui-bian, now in jail for corruption.
<br/>
Five years on, and despite being handily re-elected ten months ago, much has changed. In particular, popular satisfaction with Mr Ma has plummeted, to a record low of 13%, according to the TVBS Poll Centre. The country appears to agree on one thing: Mr Ma is an ineffectual bumbler.
<br/>